.header{
    padding: 0;
}

.header .main-menu li a{
    padding: 20px 22px 20px 22px;
}
.banner-hero.banner-1 {
    background-color: #FAEDE3;
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text-body-lead-large{
    line-height: 30px;
}

.d-lg-block.home-banner{
    position: absolute;
    right: -15%;
    width: 55%;
}

.header-logo img{
    padding: 0px 25px;
}